<div id="parent" class="row">
  <div id="child" class="col s6 offset-s3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Inkitt Quiz</span>
        <p>This is the inkitt quiz!! You can start by clicking in the link below</p>
      </div>
      <div class="card-action center-align">
        <%= link_to 'Start quiz', question_1_path %>
      </div>
    </div>
  </div>
</div>
