// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #EEE;
}

#parent {
  padding:  5% 0;
}

#child  {
  padding: 10% 0;
}
