<div style="margin-left: 10px; margin-right: 10px;">
  <% flash.each do |k, v| %>
  <div class="card green" role="alert" id="<%= k %>">
    <div class="container card-content white-text">
      <%= v %>
    </div>
  </div>
  <% end %>
</div>
